*~
# intermediate generate netlist file
panelith.net
# intermediate files of the freeroute
panelith.dsn
panelith.bin
panelith.ses
panelith.rules

*.bak
*.lck
/panelith-backups
/panelith.kicad_prl
/.history
/.history_trim
