*~
# intermediate generate netlist file
ulx3s.net
# intermediate files of the freeroute
ulx3s.dsn
ulx3s.bin
ulx3s.ses
ulx3s.rules

*.bak
*.lck
/ulx3s-backups
/ulx3s.kicad_prl
/.history
/.history_trim
